body {
  color: #444;
  font-family: sans-serif;
  border: 5px solid black;
  font-size: 18px;
}

h2 {
  text-transform: uppercase;
  background-color: #f7f7f7;
  text-align: center;
}

h3 {
  text-transform: uppercase;
}

.price {
  font-size: 25px;
}

.ship {
  text-transform: uppercase;
  color: #777;
  font-size: 14px;
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: #444;
}

a:hover {
  text-decoration: underline;
}

ul li {
  list-style-type: square;
}

button {
  font-size: 20px;
  text-transform: uppercase;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: black;
}
