* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: sans-serif;

  font-size: 18px;
}

article {
  width: 825px;
  margin: 25px auto;
  border: 5px solid black;
  position: relative;
}

h2 {
  text-transform: uppercase;
  background-color: #f7f7f7;
  text-align: center;
  padding: 20px;
}

h3 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 15px;
}

img {
  width: 250px;
  margin-bottom: 20px;
  float: left;
}

.shopping-details {
  float: left;
  width: 250px;
  padding-left: 30px;
}

.product-details {
  float: right;
  width: 250px;
  margin-right: 20px;
}

.price {
  font-size: 25px;
  margin-bottom: 10px;
  float: left;
}

.ship {
  text-transform: uppercase;
  color: #777;
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
  margin-bottom: 30px;
  float: right;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.price-ship {
  margin-top: 15px;
}

p {
  margin-bottom: 15px;
}

a:link {
  text-decoration: none;
  color: #444;
}

a:hover {
  text-decoration: underline;
}

ul li {
  list-style-type: square;
  margin-bottom: 10px;
  margin-left: 20px;
}

button {
  font-size: 20px;
  text-transform: uppercase;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 20px;
  border-top: 5px solid black;
}

button:hover {
  background-color: #fff;
  color: black;
}

.sale {
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  left: -20px;
  letter-spacing: 2px;
}

.color-container {
  display: block;
  margin-top: 15px;
}

.common-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}

.black-container {
  background-color: black;
}

.blue-container {
  background-color: blue;
}

.red-container {
  background-color: red;
}

.yellow-container {
  background-color: yellow;
}

.green-container {
  background-color: green;
}

.brown-container {
  background-color: brown;
}
